@use "../../Customize/Mixin/form_mixin.scss" as form_mixin;
@use "../../Customize/Mixin/page_mixin.scss" as mixin;
@use "../../Customize/var.scss" as var;

.AddShape-container {
    @include mixin.main_page;

    .Addshape-container {
        @include mixin.page;

        .Addshape-headingname {
            @include mixin.heading_name_text;

            &::before {
                @include mixin.heading_name;
            }
        }

        .Addshape-form-container {
            @include mixin.page_size;

            .form-row {
                @include form_mixin.form_row;
                margin-bottom: 15px;
            }

            .form-group {
                label {
                    @include form_mixin.form_label;
                }

                input:not([type="radio"]):not([type="checkbox"]) {
                    @include form_mixin.form_input;
                }

                .switch-container {
                    display: flex;
                    align-items: center;
                    min-height: 42px;
                }
            }

            .button-group {
                @include form_mixin.btn_group;

                button {
                    @include form_mixin.btn;
                }
            }

            .submit-btn {
                @include form_mixin.save_btn;
            }

            .cancelbtn {
                @include form_mixin.cancel_btn;
            }
        }
    }
}

.alert {
    @include mixin.alert;
}
