@use "../Customize/Mixin/page_mixin.scss" as mixin;
@use "../Customize/Mixin/form_mixin.scss" as form_mixin;

.ChangePassword-container {
  @include mixin.main_page;

  .change-password-container {
    @include mixin.page;

    .change-password-headingname {
      @include mixin.heading_name_text;

      &::before {
        @include mixin.heading_name;
      }
    }

    .change-password-form-container {
      @include mixin.page_size;

      .form-row {
        @include form_mixin.form-row;
      }

      .form-group {
        width: 100%;

        label {
          @include form_mixin.form_label;
        }

        input {
          @include form_mixin.form_input;
          width: 100% !important;
        }

        .password-status {
          display: block;
          font-size: 12px;
          font-weight: 500;
          margin-top: -12px !important;

          &.checking {
            color: #6c757d;
          }

          &.success {
            color: #198754;
          }

          &.error {
            color: #dc3545;
          }
        }
      }

      .button-group {
        @include form_mixin.btn_group;

        button {
          @include form_mixin.btn;
        }
      }

      .submit-btn {
        @include form_mixin.save_btn;
      }
    }
  }
}
